.statusBar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 10px 20px;
  color: #656565;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 5;
}

.statusBar i {
  font-size: 14px;
}

.statusBar .statusBar__batteryLevel {
  margin-left: 5px;
}
